<div class="partial-container">
    <h2>Robbing</h2>
    <table class="function-table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Inputs</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rob Diamonds</td>
                <td>
                    <input id="diamonds_MaxTiles" type="number" placeholder="Max-Tiles" class="input-inline" />
                    <input id="diamonds_LevelRange" type="text" placeholder="Level-Range" class="input-inline" />
                </td>
                <td>
                    <button id="diamonds_Rob" class="SwitchButton"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>