<div class="partial-container">
    <h2>Settings</h2>
    <table class="function-table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Inputs</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Amount of available Actions</td>
                <td>
                    <input id="settings_Actions_Amount" type="number" placeholder="Enter amount" class="input-inline" />
                </td>
                <td>
                    <div class="Placeholder"></div>
                </td>
            </tr>
            <tr>
                <td>Cyclus Interval</td>
                <td>
                    <input id="settings_Cycle_Interval" type="number" placeholder="Enter interval (min)" class="input-inline" />
                </td>
                <td>
                    <div class="Placeholder"></div>
                </td>
            </tr>
            <tr>
                <td>Debugging Enabled?</td>
                <td>
                    <div class="Placeholder"></div>
                </td>
                <td>
                    <button id="settings_Debug_Enabled" class="SwitchButton"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>